<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>
<div class="container">
    <div th:replace="~{base :: titulo('Empréstimo')}"></div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-secondary mb-3" th:href="@{/emprestimo}" role="button">Voltar</a>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <h5 class="card-header">Resultados da simulação</h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p class="fst-normal">Valor solicitado</p>
                            <p class="fw-light"
                               th:text="${'R$ ' + #numbers.formatDecimal(emprestimo.valorSolicitado,3,'POINT',2,'COMMA')}"></p>
                        </li>
                        <li class="list-group-item">
                            <p class="fst-normal">Data de solicitação</p>
                            <p class="fw-light" th:text="${#temporals.format(dataSolicitacao,'dd/MM/yyyy')}"></p>
                        </li>
                        <li class="list-group-item">
                            <p class="fst-normal">Data do pagamento</p>
                            <p class="fw-light" th:text="${#temporals.format(emprestimo.dataPagamento,'dd/MM/yyyy')}"></p>
                        </li>
                        <li class="list-group-item">
                            <p class="fst-normal">Juros</p>
                            <p class="fw-light" th:text="${emprestimo.juros + '%'}"></p>
                            <p class="fw-light">Calculo: 3% ao mês.</p>
                            <p class="fw-light"
                               th:text="${'Tempo de financiamento: '+emprestimo.totalMesesFinanciamento+ ' mês'}"></p>
                        </li>
                        <li class="list-group-item">
                            <p class="fst-normal">Total a pagar</p>
                            <p class="fw-light">Em desenvolvimento.</p>
                        </li>
                    </ul>
                    <a class="btn btn-outline-success mb-3" th:href="@{#}" role="button">Finalizar</a>
                    <a class="btn btn-outline-danger mb-3" th:href="@{#}" role="button">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>