<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>

<div th:replace="~{base :: logo}"></div>

<div class="container">

    <div th:replace="~{base :: titulo('Limite Pix')}"></div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-secondary mb-3" th:href="@{/areaPix/configurarPix}" role="button">Voltar</a>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Qual o limite desejado?</h5>
                    <p class="card-text">Defina um limite maximo para suas transações pix.</p>
                    <div th:if="${user.conta.valorLimitePix != null}">
                        <div class="p-3 mb-2 bg-light text-dark mb-4">
                            <p>Limite atual</p>
                            <span th:text="${#numbers.formatCurrency(user.conta.valorLimitePix)}"></span>
                        </div>
                    </div>
                    <form th:object="${valorLimitePix}" th:action="@{/areaPix/ajustarLimitePix}" method="post">
                        <div class="form-floating mb-3">
                            <input th:field="*{valor}" th:errorclass="is-invalid" type="number"
                                   class="form-control" id="imputValor">
                            <label for="imputValor">R$</label>
                            <div class="invalid-feedback" th:errors="*{valor}"></div>
                        </div>
                        <button type="submit" class="btn btn-success">Definir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${mensagem != null}">
        <div class="row mt-4 ">
            <div class="alert alert-success col-4" role="alert" th:text="${mensagem}"></div>
        </div>
    </div>
</div>
</body>
</html>