<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>

<div class="container">
    <div th:replace="~{base :: titulo('Empréstimo')}"></div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-secondary mb-3" th:href="@{/home}" role="button">Inicio</a>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="alert alert-success" role="alert">
                Empréstimo realizado com sucesso. Acesse <a th:href="@{/emprestimo/meusEmprestimos}"
                                                            class="alert-link">Meus empréstimos</a> para mais detalhes.
            </div>
        </div>
    </div>

</div>
</body>
</html>