<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>
<div class="container">

    <div th:replace="~{base :: titulo('Conta')}"></div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-secondary mb-3" th:href="@{/home}" role="button">Voltar</a>
    </div>

    <div class="row justify-content-start">
        <div class="col-4">
            <div class="p-3 mb-2 bg-light text-dark mb-4">
                <p>Saldo disponível</p>
                <span th:text="${#numbers.formatCurrency(user.conta.saldo)}"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="list-group" style="font-size: 17px">
                <a th:href="@{/dinheiroGuardado}" class="list-group-item list-group-item-action list-group-item-light">
                    Dinheiro guardado</a>
                <a th:href="@{/historico}" class="list-group-item list-group-item-action list-group-item-light">Histórico</a>
            </div>
        </div>
    </div>


</div>

</body>
</html>