<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>

    <div th:replace="~{base :: logo}"></div>

    <div class="container">
        <div th:replace="~{base :: titulo('Dinheiro Guardado')}"></div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-outline-secondary mb-3" th:href="@{/conta}" role="button">Voltar</a>
        </div>

        <div class="p-3 mb-2 bg-light text-dark mb-4">
            <p>Total guardado</p>
            <span th:text="${#numbers.formatCurrency(user.conta.dinheiroGuardado)}"></span>
        </div>

       <a th:if="${user.conta.dinheiroGuardado > 0}" th:href="@{/dinheiroGuardado/resgatar}">
           <button type="button" class="btn btn-primary">Resgatar</button></a>
        <a th:href="@{/dinheiroGuardado/guardar}">
            <button type="button" class="btn btn-primary">Guardar</button></a>
    </div>
</body>
</html>