<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
    <div th:replace="~{base :: logo}"></div>

    <div class="container">

        <div th:replace="~{base :: titulo('Depósito')}"></div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-outline-secondary mb-3" th:href="@{/deposito}" role="button">Voltar</a>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="shadow-none p-3 mb-0 bg-light rounded">Informe sua senha</div>
                    <form th:object="${validarIdentidadeDepositoDto}" class="card-body"
                          th:action="@{/deposito/validarIdentidade}"
                          method="post">
                        <div class="form-floating mb-3">
                            <input th:field="*{senha}" th:errorclass="is-invalid" type="password"
                                   class="form-control" id="floatingPassword">
                            <label for="floatingPassword">Senha</label>
                            <div class="invalid-feedback" th:errors="*{senha}"></div>
                            <input th:field="*{valor}" type="hidden">
                        </div>
                        <button type="submit" class="btn btn-success mb-2">Confirmar identidade</button>
                    </form>
                </div>
            </div>
        </div>

        <div th:if="${error != null}">
            <div class="row mt-4 ">
                <div class="alert alert-danger col-2" role="alert" th:text="${error}"></div>
            </div>
        </div>
    </div>

</body>
</html>