<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>

<div class="container">

    <div th:replace="~{base :: titulo('Home')}"></div>

    <div class="list-group" style="font-size: 17px">
        <a th:href="@{/conta}" class="list-group-item list-group-item-action list-group-item-light">Conta</a>
        <a th:href="@{/areaPix}" class="list-group-item list-group-item-action list-group-item-light">Área Pix</a>
        <a th:href="@{/emprestimo}" class="list-group-item list-group-item-action list-group-item-light">Empréstimo</a>
        <a th:href="@{/deposito}" class="list-group-item list-group-item-action list-group-item-light">Depósito</a>
        <a th:href="@{/recargaCelular}" class="list-group-item list-group-item-action list-group-item-light">Recarga de celular</a>
        <a th:href="@{/minhaConta}" class="list-group-item list-group-item-action list-group-item-light">Minha conta</a>
    </div>
</div>

</body>
</html>